@using WebRazor.Services.PagesServices;
@inject JwtDecoder JwtDecoder;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebRazor</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebRazor.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="min-h-screen flex flex-col">
    <header class="bg-white shadow mb-4">
        <nav class="relative container mx-auto px-6 py-4 flex items-center">


            @if (JwtDecoder.Email != null)
            {
                <div class="text-black font-medium mr-8">
                    Hello @JwtDecoder.Email
                </div>
            }


            <div class="absolute left-1/2 -translate-x-1/2">
                <ul class="flex gap-6">
                    <li>
                        <a asp-page="/cars/index" class="border rounded shadow text-black py-2 px-4 bg-amber-400 hover:bg-amber-600">Cars</a>
                    </li>

                    @if (JwtDecoder.Roles?.Any(r => r == "Admin") == true)
                    {
                        <li>
                            <a asp-page="/users/index" class="border rounded shadow text-black py-2 px-4 bg-amber-400 hover:bg-amber-600">Users</a>
                        </li>

                        <li>
                            <a asp-page="/CustomerOrders/index" class="border rounded shadow text-black py-2 px-4 bg-amber-400 hover:bg-amber-600">Orders</a>
                        </li>
                    }
                    else if (JwtDecoder.Roles?.Any(r => r == "Customer") == true)
                    {
                        <li>
                            <a asp-page="/CustomerOrders/index" class="border rounded shadow text-black py-2 px-4 bg-amber-400 hover:bg-amber-600">My orders</a>
                        </li>
                    }



                    
                </ul>
            </div>


            <ul class="flex gap-6 ml-auto">
                @if (JwtDecoder.Email != null)
                {
                    <li>
                        <a asp-page="/users/logout" class="border rounded shadow text-black py-2 px-4 bg-amber-400 hover:bg-amber-600">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-page="/users/login" class="border rounded shadow text-black py-2 px-4 bg-amber-400 hover:bg-amber-600">Login</a>
                    </li>
                    <li>
                        <a asp-page="/users/register" class="border rounded shadow text-black py-2 px-4 bg-amber-400 hover:bg-amber-600">Register</a>
                    </li>
                }
            </ul>

        </nav>
    </header>

    <div class="container flex-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; 2025 - WebRazor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
